<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>The Battleship Game</title>
</head>
<body>

<h1 class="text-center">&nbsp;&nbsp;&nbsp;The Battleship Game</h1>
    <div class="col-md-3">
      <h3>Drag&drop your boats :</h3>
      <br />
      <% for (var boat in battleship.boats) { %>


        <table id="<%=battleship.boats[boat].name%>" style="z-index: 1; border:none;">
        <tbody>
          <tr>
            <% for (var i = 0; i < battleship.boats[boat].size; i++) {%>

              <td style="pointer-events: none; border-radius:0; height:45px; width:45px;" class="btn btn-primary"></td>

            <% } %>
            </tr>
          </tbody>
        </table>
        <br />

        <script>
        $('#<%=battleship.boats[boat].name%>').draggable({
          // containment : '#grid',
          snap : '.case',
          grid : [45 , 45],
          revert : 'invalid'
        }); // appel du plugin

        </script>

      <% } %>
      <br />
      <button type="button" class="btn btn-info">Rotate</button>
    </div>
    <div class="col-md-6">
      <table id="grid" style="width:auto; margin:auto; border:none;">
        <tbody>
          <tr>
            <td style="border:none; width:45px;"></td>
            <% for (var i = 0; i < battleship.grid.length; i++) {%>
            <td style="text-center; border:none; display: inline-block; width:45px; text-align:center; vertical-align:bottom;"><%=String.fromCharCode(65+i)%></td>
            <% } %>
          </tr>
          <% for (var i = 0; i < battleship.grid.length; i++) {%>
            <tr value="<%=i%>">
            <td style="border:none; text-align:right; vertical-align:middle;">
            <%=i+1%>&nbsp;
            </td>
            <% for (var j = 0; j < battleship.grid[i].length; j++) {%>
            <td value="<%=j%>" type="button" onclick="action($(this).parent().attr('value'), $(this).attr('value'))" style="padding:0; border-radius:0; height:45px; width:45px;" class="case btn btn-default"></td>
              <% } %>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">

    </div>

  <p><input type="button" value="Embêter le serveur" id="poke" /></p>
  <p><input type="button" value="login" id="login" /></p>


  <p id="output">

  </p>


  <script>

  var battleship = JSON.parse('<%-JSON.stringify(battleship)%>');

  $('#poke').click(function () {
    socket.emit('message', 'Salut serveur, ça va ?');
  })
  $('#login').click(function () {
    var pseudo = 'my_username'
    socket.emit('login', pseudo);
  })

  $('#grid').droppable({ // ce bloc servira de zone de dépôt
    drop : function(event, ui){
      var pos_left = ui.draggable.offset().left;
      var pos_top = ui.draggable.offset().top;
      findCase(pos_left, pos_top);
    }
  });

  function findCase(left,top) {
    for (var i = 0; i < battleship.grid.length; i++) {
      var pos_top = $("#grid > tbody > tr[value='" + i + "']").offset().top;
      if (pos_top == top) {
        break;
      }
    }
    for (var j = 0; j < battleship.grid.length; j++) {
      var pos_left = $("#grid > tbody > tr[value='" + i + "'] > td[value='" + j + "']").offset().left;
      if (pos_left == left) {
        break;
      }
    }
    console.log(String.fromCharCode(65+j),i+1);
  }

  </script>
</body>
</html>
